/* 
Version: 1.0 | 22112011
License: MIT Licence
LOGIN FORM STYLES
*/

* {margin:0;padding:0}

/* hide \*/
html,body{height:100%; width:100%;}
/* end hide */


body { 
	min-height:600px; /* For IE7 */
	min-width:980px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:#333;
}

strong {
	font-weight:bold;
}

.clear {
	clear:both;
}


/* CONTENT */

h1, h2, p, label {
	visibility:hidden;
}

h1 {
	margin:0 0 30px 0;
}

h2, label {
	margin:0 0 10px 0;
}

label {
	margin:0 0 10px 0;
	display:block;
}

p {
	margin:0 0 30px 0;
	line-height:1.4em;
}

a:link, a:visited {
	text-decoration:none;
}

a:active, a:hover {
	text-decoration:underline;
}

/* CONTAINER */

#outer-container {
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
}

#container {
	position:relative;
	vertical-align:middle;
	display:table-cell;
}
	
#inner-container {
	width: 320px;
	padding:40px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

ul#inner-footer {
	margin:30px 0 0 0;
	overflow:hidden;
}

ul#inner-footer li {
	float:right;
	margin:0 0 0 10px;
	font-size:0.8em;
	padding-top:5px;
}

ul#inner-footer li.inner-footer_icon {
	float:left;
	margin:0 10px 0 0;
	padding:0;
}

ul#inner-footer li.inner-footer_icon a {
	display:block;
 	width:24px;
 	height:24px;
 	text-indent:-9999px;
}

ul#inner-footer li.inner-footer_icon.facebook a {
 	background:url('im/facebook.png') no-repeat top left;
}

ul#inner-footer li.inner-footer_icon.twitter a {
 	background:url('im/twitter.png') no-repeat top left;
}

ul#inner-footer li.inner-footer_icon a:hover {
	background-position:bottom left;
}

/* FORM */

input {
	background:white;
	border:1px solid #aaa;
	padding: 7px 7px;
	width:220px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height:19px;
	overflow:hidden;
	font-size:0.8em;
	line-height:0.9em;
	float:left;
	margin: 0 50px 10px 0;
}

input:focus {
	background:#f9f9f9;
	outline:0;
}

span#submit-button-border {
	border:1px solid #000;
	float:left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#333;
}

input#submit-button {

	background:transparent;
	border:none;
	width:100px;
	height:43px;
	font-size:0.8em;
	margin:0;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
}

input#submit-button:hover {
	background:#d34a45;
}

input#successcode, input#returningcode {
	width:288px;
}

span.privacy-policy {
	font-size:0.6em;
	display:block;
	width:320px;
	margin:5px 0 0 0;
}


/* AJAX MESSAGES */

#success, #returning, #success-content {display:none;}

#error {
	color:#ed534d;
	font-size:0.8em;
	margin:10px 0 0 0;
	text-shadow: 0px 1px 1px #FFF;
	font-weight:bold;
	width:320px;
	}

#returning p {
	margin:0px;
}

span.dirname {
	display:none;
}

span.user {
	font-weight:bold;
}

span.clicks, span.conversions {
	font-weight:bold;
}


/* SOCIAL */

.social-container {
	width:302px;
	padding:5px 0 13px 18px;
	margin:10px 0 30px 0;
	position:relative;
	background:url('im/social-bg.png') repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#fblikeblock, #fblikeblock-return, 
#tweetblock, #tweetblock-return, 
#plusoneblock, #plusoneblock-return, 
#tumblrblock, #tumblrblock-return,
#linkinblock, #linkinblock-return {
	float:left !important;
	margin:10px 18px 0 0 !important;
	height:23px !important;
}

#fblikeblock, #fblikeblock-return {
	width:108px !important;
}

#inner-container .disable {
	display:none !important;
}

/* CREDIT */

ul#footer {
	position:fixed;
	bottom:0px;
	right:30px;
	overflow:hidden;
	font-size:0.7em;
	background:#000;
	padding:2px 10px;
}

ul#footer li {
	float:left; 
	color:#aaa;
	padding-top:3px;
	padding-bottom:0;
}

ul#footer li a {
	color:#aaa;
	text-decoration:underline;
}

ul#footer li a.logo {
	background:url('im/mini-logo.png') no-repeat top center;
	display:inline-block;
	height:17px;
	width:84px;
	text-indent:-9999px;
	position:relative;
	top:-4px;
}
